// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "banner";
@import "cards";

.img-circle {
  height: 150px;
  width: 150px;
  margin:150px 0px 10px 0px;
  padding:20px;
}
